#heading {

    font-family: 'Pangolin', cursive;
    text-align: center;
}

#brand {

    font-family: 'Pangolin', cursive;
}

.carouselfont {

    font-family: 'Pangolin', cursive;
    color: rgb(19, 195, 218);
    font-size: 2.5em;
}
